<div class="body-container">
	<div class="login-container">
		<p class="title">FACULTY LOGIN</p>
		<form action="/faculty-login" method="post">
			<input type="text" name="Username" placeholder="Enter Username" />
			<input type="password" name="Password" placeholder="Enter Password" />

			<div class="button-container">
				<button class="sub-button" type="submit">LOGIN</button>

				<a href="http://">Forgot Password</a>
			</div>
			<ul class="newuser-container">
				<ul>
					<a class="new-reg" href="./FacultyLogin">New User? Register Here</a>
				</ul>
			</ul>
		</form>
	</div>

	<div class="right-image-container">
		<img src="./img.svg" alt="" />
	</div>
</div>
