<div class="Heading-Container">
	<p style="padding-top: 0.25em">Training Platform</p>

	<div class="header-buttons-container">
		<ul>
			<p><a href="./FacultyLogin.html"> Faculty Login</a></p>
		</ul>

		<ul>
			<p><a href="./Signup.html">Signup</a></p>
		</ul>
	</div>
</div>
