<div class="Heading-Container">
	<p style="padding-top: 0.25em">Testing Platform</p>

	<div class="header-buttons-container">
		<ul>
			<p><a href="./FacultyLogin"> Faculty Login</a></p>
		</ul>

		<ul>
			<p><a href="./StudentSignup">Signup</a></p>
		</ul>
	</div>
</div>
