<div class="rules" id="rules">
	<p class="test_title-p">RULES</p>
	<ul>
		<li>You cannot switch tabs after starting/initiating the test</li>
	</ul>

	<ul>
		<li>You cannot switch tabs after starting/initiating the test</li>
	</ul>
</div>
