<div class="body-container">
	<div class="login-container">
		<p class="title">SIGN UP</p>
		<form action="/signup" method="post">
			<div class="line1">
				<input type="text" id="fn" name="fn" placeholder="First Name *" />
				<input type="text" id="ln" name="ln" placeholder="Last Name *" />
			</div>
			<div class="line1">
				<input
					type="text"
					id="rn"
					name="rn"
					placeholder="Registration Number *"
				/>
				<input type="password" id="ps" name="ps" placeholder="Password *" />
			</div>
			<div class="line1">
				<!-- <input type="text" placeholder="Year of Passing out *" /> -->
				<input
					type="password"
					id="cps"
					name="cps"
					placeholder="Confirm Password *"
				/>
			</div>
			<div class="line1">
				<input type="text" id="pn" name="pn" placeholder="Phone Number *" />
				<input
					type="text"
					id="em"
					name="em"
					placeholder="Enter College Email ID *"
				/>
			</div>

			<div class="button-container">
				<button class="sub-button" type="submit">Signup</button>
			</div>
		</form>
	</div>
</div>
