<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../AddQues.css" />
		<title>Document</title>
	</head>
	<body>
		<!-- This is the header nav bar -->
		<%- include('../partials/header'); %>

		<!-- Add Test Body Container -->
		<%- include('../partials/addques_body_container'); %>

		<!-- <script>
			document.addEventListener("visibilitychange", function() {
				if(! document.hidden) {
					window.confirm("Were you cheating ?");
					if (window.confirm){
						window.open('/success.html');
					}
					else {
						window.open('/success.html');
					}
				}
				// else{
				// 	window.confirm("Were you cheating ?");
				// 	if (window.confirm){
				// 		window.open('/success.html');
				// 	}
				// 	else {
				// 		window.open('/success.html');
				// 	}
				//}
				
			});
		</script> -->
	</body>
</html>
