<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../FacultySignup.css" />
	</head>
	<body>
		<!-- This is the header nav bar -->
		<%- include('../partials/header'); %>

		<!-- faculty-signup body container -->
		<%- include('../partials/faculty_signup_body_container'); %>
	</body>
</html>
