<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test Details</title>
		<link rel="stylesheet" href="../Login.css" />
	</head>
	<body>
		<!-- This is the header nav bar -->
		<%- include('../partials/header'); %>
		<div class="test_list_container">
			<div>
				<p class="title">Tests List</p>

				<!-- loop over this component -->
				<div style="margin-bottom: 2em">
					<% test_name.forEach(element=> { %>
					<%- include('../partials/test_name_gotodets', {testname: element.TestTitle}); %>
					<% }); %>
				</div>
			</div>
		</div>
	</body>
</html>
