<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test Details</title>
		<link rel="stylesheet" href="../Login.css" />
	</head>

	<body>
		<!-- This is the header nav bar -->
		<%- include('../partials/header'); %>
		<div class="test_list_container">
			<div>
				<p class="title"><%= testname %></p>

				<!-- Yeh neeche wala component ko loop karna padega -->
				<div
					class="test_container"
					style="
						background-color: #e9f8ff;
						padding: 3em;
						border-radius: 25px;
						width: 70em;
						margin-bottom: 1em;

						box-shadow: 0 0px 2px rgba(6, 38, 59, 0.158),
							0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 87, 145, 0.247),
							0 8px 16px rgba(137, 255, 173, 0.205),
							0 16px 32px rgba(0, 87, 145, 0.082),
							0 32px 64px rgba(0, 87, 145, 0.144);
					"
				>
					<h3 class="test_title-p">Question <%= QuesNo%></h3>
					<h3 class="test_title-p2"><%= Ques%></h3>
				</div>

				<!-- Yeh wala bhai tumhe change karna padega according to the action -->
				<form action="/FacultyTestList" method="get">
					<div class="button-container">
						<button class="sub-button" type="submit" style="margin-bottom: 1em">
							Publish Test
						</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			console.log(test_name);
			console.log("bakaiti");
		</script>
	</body>
</html>
